.spinner__text {
  font-weight: 700;
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .spinner__text {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .spinner__text {
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .spinner__text {
    font-size: 25px;
  }
}
