.spinner__button {
  margin: 10px auto 0px;
  padding: 10px 30px;
  width: 80%;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 450px) {
  .spinner__button {
    font-size: 18px;
  }
}
