.spinner__button {
  margin: 10px auto 0;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #0a0a0a;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  background-color: #5c055f;
  color: #ffffff;
}


@media screen  and (max-width: 450px) {
  .spinner__button {
    font-size: 18px;
  }
}
