.content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 60px;
  margin: 60px auto 80px;
}

@media screen and (max-width: 450px) {
  .content {
    margin: 10px auto;
  }
}
