.modal__container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
  width: 600px;
  max-width: calc(92% - 10px * 2);
  max-height: calc(100% - 30px * 2);
  padding: 15px;
  position: relative;
}
