.welcome__go-button {
  display: none;
  margin: 10px auto 0;
  padding: 5px 20px 5px 5px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 2px 2px 4px #0a0a0a;
  color: #000000;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.welcome__go-button_active {
  display: block;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .welcome__go-button {
    font-size: 27px;
  }
}

@media screen and (max-width: 700px) {
  .welcome__go-button {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .welcome__go-button {
    font-size: 21px;
  }
}

@media screen and (max-width: 400px) {
  .welcome__go-button {
    font-size: 18px;
  }
}
