.welcome__message {
  margin: 0 auto;
  width: calc(100% - 30px);
  max-width: 900px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 0px 0px 20px #0a0a0a;
  text-align: center;
  display: none;
}

.welcome__message_active {
  display: block;
}

@media screen and (max-width: 700px) {
  .welcome__message {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .welcome__message {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .welcome__message {
    font-size: 20px;
  }
}
